.VSCodeCounter
/build
/dist
/DerivedData
Breakpoints_v2.xcbkptlist
/TestResults.xcresult
.venv**
**/__pycache__/**
/vendor
/*.app
/*.zip
/*.dmg
/PomodoroScreenTests/Integration/*.db
/PomodoroScreen.xcodeproj/xcuserdata/jake.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
statistics-debug.db
Windows/build/**